<script>
  function handRegisterSubmit() {
    $.ajax({
      url: '/api/user/register',
      type: 'POST',
      data: { email: $("#email").val(), password: $("#password").val() },
      success: function (res) {
        localStorage.setItem('token', res.token)
        window.location.replace('/contacts');
      },
      error: function () {
        alert('Error!')
      }
    })
  }
</script>

<form onsubmit="handRegisterSubmit(); return false;">
  <label for="email">Email</label><br>
  <input id="email" type="text" id="email" name="email"><br>
  <label for="password">Password</label><br>
  <input id="password" type="password" id="password" name="password"><br><br>
  <input type="submit" value="Register">
</form>